default_shell "fish"

pane_frames false

serialize_pane_viewport true

theme "catppuccin-macchiato"

default_layout "compact"

disable_session_metadata true

show_startup_tips false

keybinds {
    shared_except "locked" {
        unbind "Ctrl q"  // Prevent Ctrl+Q from quitting.
    }
}
